<div class="bg-white ">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">

      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      
  <%if current_user&.admin? %>    
    <div class="flex justify-between items-center">
      <%= link_to "New course", new_course_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>   
  <% end %>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Cursos</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Aprende usar Planning Center y implementaro en tu Igelsia. Gratis!</p>
    </div>
     
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
     <%= render "course" %>
    </div>
  </div>
</div>



